<div class="container">
  <form [formGroup]="converterForm" (ngSubmit)="onSubmit()">
    <div class="row text-center">

      <div class="mb-3 col-md-3">
        <select class="custom-select d-block w-100" formControlName="from" (change)="onFromChange()">
          <option *ngFor="let option of options; let i = index" [value]="option">
            {{option}}
          </option>
        </select>
        <input type="number" class="form-control" id="request" formControlName="request">
      </div>

      <div class="col-md-1">
        <label><b>To</b></label>
      </div>

      <div class="mb-3 col-md-3">
        <select class="custom-select d-block w-100" formControlName="to" (change)="onToChange()">
          <option *ngFor="let option of options; let i = index" [value]="option">
            {{option}}
          </option>
        </select>
        <input type="number" class="form-control result" id="result" formControlName="result" />
      </div>



      <div class="mb-3 col-md-7">
        <button class="mb-3 btn btn-primary convert" [disabled]="!converterForm.valid">Convert</button>
      </div>

    </div>

  </form>
  <div class="error">{{error}}</div>
</div>
